/* body */
body{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
}
h1,h2,h3,h4,h5,h6{
    color: #231D4F;
    font-weight: 700;
}
p{
    color: #848199;
}
/* image slider */
.slider{
    height: 584px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.header-titel{
    font-size: 16px;
    text-align: center;
    color: #FFFFFF;
}
.header-text{
    font-size: 12px;
    text-align: center;
    color: #FFFFFF;
}

/*  */
.check-circle{
    height: 16px;
    width: 16px;
    margin-right: 10px;
}
.cards{
    max-width: 280px;
}
.card-shadow{
    box-shadow: 1px 20px 20px rgb(13 202 240 / 50%);
}
.start-80{
    left: 80%;
}
/* // Small devices (landscape phones) */
@media (min-width: 576px) { 
    .header-titel{
        font-size: 24px;
    }
 }

/* // Medium devices (tablets) */
@media (min-width: 768px) { 
    .header-titel{
        font-size: 28px;
    }
 }

/* Large devices (desktops) */
@media (min-width: 992px) { 
    .header-titel{
        font-size: 48px;
    }
    .header-text{
        font-size: 20px;
        max-width: 500px;
        margin: 0 auto;
    }
 }