body{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
}
h1,h2,h3,h4,h5,h6{
    color: #231d4f;
    font-weight: 700;
}
p{
    color: #848199;
    margin: 0;
}
a{
    color: rgba(35, 29, 79, 0.8);
    font-weight: 600;
}

/* alert */
.alert-width{
    width: 100%;
}
.gift{
    width: 20px;
    height: 20px;
    margin-right: 10px;
}
.alert-border{
    border: 0px;
    border-radius: 0;
    border-left: 10px solid #3F87F5;
    z-index: 10;
}

/* image slider */
.slider{
    height: 584px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.header-titel{
    font-size: 16px;
    text-align: center;
    color: #FFFFFF;
}
.header-text{
    font-size: 12px;
    text-align: center;
    color: #FFFFFF;
}

/* package */
.check-circle{
    height: 16px;
    width: 16px;
    margin-right: 10px;
    color: #231D4F;
}
.cards{
    max-width: 280px;
}
.card-shadow{
    box-shadow: 1px 20px 20px rgba(13, 202, 240, 0.40);
}
.start-80{
    left: 80%;
}

/* contact */
label{
    color: #848199;
    margin-top: 15px;
    font-weight: 600;
}
input,select,textarea{
    padding: 5px 10px;
    border: none;
    border-bottom: 1px solid gray;
    outline: none;
}
select, option{
    background-color: transparent;
    color: gray;
}
/* // Small devices (landscape phones) */
@media (min-width: 576px) { 
    /* image slider */
    .header-titel{
        font-size: 24px;
    }

    /* alert */
    .alert-width{
        position: fixed;
        width: 350px;
        top: 48%;
        right: 10px;
        box-shadow: 0 0.75rem 3rem rgba(0,0,0,.2)!important;
    }
 }

/* // Medium devices (tablets) */
@media (min-width: 768px) {
    /* image slider */
    .header-titel{
        font-size: 28px;
    }
    .header-text{
        font-size: 18px;
        max-width: 500px;
        margin: 0 auto;
    }
 }

/* Large devices (desktops) */
@media (min-width: 992px) { 
    /* image slider */
    .header-titel{
        font-size: 48px;
    }
    .header-text{
        font-size: 20px;
        max-width: 600px;
        margin: 0 auto;
    }
 }